<h2>Book detail</h2>
<table>
  <tbody>
  <tr>
    <td><%= image_tag @user.get_profile_image(100,100) %><br>
    <%= link_to @user.name,user_path(@user.id) %>
    </td>
    <td><p><%= link_to @books.title, book_path(@books.id) %></p></td>
    <td><p><%= @books.body %></p></td>
  </tr>
  </tbody>
</table>
